# Periodically rebuild container images by bumping the version.
# If being used with `refs`, ensure that the all the branches provided are under
# different major versions (for example, docker-jdk v17 and v21).
# This should _not_ be used for hotfix branches, as we don't bump versions in those cases.
#
# Usage:
#   uses: IronCoreLabs/workflows/.github/workflows/rebuild.yaml@rebuild-v1
#
# With multiple refs:
#   uses: IronCoreLabs/workflows/.github/workflows/rebuild.yaml@rebuild-v1
#   with:
#     refs: '["main", "release/v1"]'

name: Periodic Rebuild
on:
  workflow_call:
    inputs:
      refs:
        type: string
        required: false
        default: '["main"]'
        description: JSON array of refs to rebuild (e.g., '["main", "release/v1"]')

jobs:
  rebuild:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        ref: ${{ fromJSON(inputs.refs) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ matrix.ref }}
          token: ${{ secrets.WORKFLOW_PAT }}
      - name: Trigger rebuild
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: "Bump Version"
          ref: ${{ matrix.ref }}
          token: ${{ secrets.WORKFLOW_PAT }}
