# We use this to test the Rust workflows.
name: Rust Workflow Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  invoke_rust_ci:
    name: Rust CI Test
    uses: ./.github/workflows/rust-ci.yaml
    with:
      run_clippy: true
      rust_root: test/rust
      test_matrix_include: |
        [
          { rust_version: "", build_only: false },
          { rust_version: "stable", rust_target: "wasm32-unknown-unknown", build_only: true }
        ]
    secrets: inherit

  invoke_rust_daily:
    name: Rust Daily Test
    uses: ./.github/workflows/rust-daily.yaml
    with:
      rust_root: test/rust
      matrix_include: |
        [
            { rust_version: "" },
            { rust_version: "stable", rust_target: "wasm32-unknown-unknown" }
        ]
      additional_system_deps: libzmq3-dev
    secrets: inherit

  start_tsp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Decrypt TSP integration keys
        uses: IronCoreLabs/ironhide-actions/decrypt@v3
        with:
          keys: ${{ secrets.IRONHIDE_KEYS }}
          input: .github/.env.integration.iron
      - uses: IronCoreLabs/workflows/.github/actions/start-tsp@start-tsp-action
        with:
          gcloud-auth: ${{ secrets.GCLOUD_AUTH }}
          env-file-path: .github/.env.integration
